.title {
  background-image: url("../../assets/Sliki/Nastani/IMG_7481.jpg");
  background-size: cover;
  width: 100vw;
  height: 80vh;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.title h1 {
  color: white;
  margin: auto;
}
