.close span {
  border-radius: 50%;
  background-color: black;
  color: white;
  opacity: 1;
  padding: 0 8px 6px 8px;
  display: inline-block;
}

.modal-header {
  align-items: center;
  display: flex;
}

.modal-header button {
  align-self: center;
  opacity: 1;
}

.modal-title {
  font-weight: 700;
}

.modal-content label {
  margin-bottom: 0;
  font-weight: bold;
}

.modal-content input {
  height: 2rem;
}

.modal-content input,
textarea {
  width: 100%;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding-left: 10px;
}
.modal-content h5 {
  font-size: 30px;
}

.val-mess {
  color: red;
  float: right;
  position: absolute;
  right: 20px;
  bottom: 1px;
}
.max-text {
  position: absolute;
  right: 20px;
  bottom: 1px;
  font-size: 0.7rem;
}

.modal-footer .btn {
  font-size: 12px;
  font-weight: 700;
}
