.navbar-nav {
  width: 100%;
  align-items: center;
}

.nav-link {
  color: black;
  font-weight: 900;
  cursor: pointer;
  font-size: 14px;
  margin: 15px;
  display: inline-block;
  position: relative;
  padding-bottom: 3px;
}

.nav-link:after,
.footer-links li:after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}

.active:after {
  width: 100%;
  background: #fcd232;
}

.nav-item a:hover {
  color: black;
}

.nav-link:hover:after,
.footer-links li:hover:after {
  width: 100%;
  background: #fcd232;
}

.navbar .navbar-toggler {
  background-color: black;
  color: #fcd232;
  height: 40px;
  width: 40px;
  padding: 0;
}

.show a {
  color: white;
}

.show .nav-item a:hover {
  color: white;
}

.show .btn-responsive {
  margin: auto;
}

.show .btn-responsive button {
  background: #fcd232;
  color: black;
  height: 35px;
  margin-bottom: 20px;
  transition: none;
}

.show ul {
  background-color: black;
}

.collapsing ul {
  background-color: black;
}

.collapsing button {
  display: none;
}

.collapsing .active:after {
  width: 0;
}
