.btn-custom-2 {
  font-size: 1rem;
  background: black;
  color: white;
  border: none;
  padding: 8px;
  text-align: left;
  font-weight: 900;
  align-items: center;
}

.btn-icon svg {
  height: 1.6rem;
  width: 1.6rem;
  color: #fcd232;
}

.event-host-img {
  max-width: 100%;
  height: 400px;
  object-fit: cover;
}

.img-events-space img {
  height: 180px;
}

.smaller-kitchen-img-1 {
  margin: 1px !important;
  padding-top: 20px !important;
}
