html,
body {
  margin: 0;
  padding: 0 !important;
  box-sizing: border-box;
  padding-right: 0px !important;
  overflow-x: hidden;
}

p {
  line-height: normal;
}

a:hover {
  text-decoration: none !important;
}

.block-title {
  font-weight: 700;
}

.line_through {
  text-decoration-line: line-through;
}

.btn-custom {
  color: #ffc107;
  display: flex;
  align-items: center;
  font-weight: bold;
  background-color: black;
  border: none;
  border-radius: 5px;
  padding: 0 30px;
  font-size: 12px;
  height: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.3s;
}

.btn-yellow {
  background-color: #ffc107;
  color: black;
}

.btn-custom svg {
  margin-right: 5px;
  width: 15px;
  height: 15px;
}

.btn-custom:hover {
  background-color: #e0a800;
  transform: translateY(-2px);
  color: black;
  transform: scale(1.05);
  z-index: 1;
}

.btn-custom:disabled:hover {
  background-color: black;
  transform: translateY(0px);
  color: #ffc107;
}

.title {
  background-image: url("./assets/Sliki/Nastani/IMG_7481.jpg");
  background-size: cover;
  width: 100vw;
  height: 80vh;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.title h1 {
  color: white;
  margin: auto;
}

.blog-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

img {
  border-radius: 5px;
}

.blog-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.full-width {
  width: 100vh;
}

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 360px) {
  .block-title {
    font-size: 30px;
  }
  .title h1 {
    font-size: 25px;
  }

  label,
  .val-mess {
    font-size: 10px;
  }
  .days div {
    width: calc((100% - 70px) / 7);
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc((100vw - 100px) / 7);
    background: #f5f5f5;
    font-weight: 900;
    border-radius: 50%;
    font-size: 1.2rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .block-title {
    font-size: 35px;
  }

  .title h1 {
    font-size: 35px;
    width: 80%;
  }

  label,
  .val-mess {
    font-size: 15px;
  }

  .ideja-text {
    font-size: 25px;
  }

  .days div {
    justify-content: flex-end;
    align-items: flex-end;
    height: 60px;
    border-radius: 5px;
    font-size: 1.7rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .block-title {
    font-size: 50px;
  }

  .title h1 {
    font-size: 50px;
    width: 60%;
  }

  .ideja-text {
    font-size: 30px;
  }

  .smaller-kitchen-img img {
    height: 200px;
  }

  .smaller-kitchen-img-1 {
    height: 200px;
    position: absolute;
    bottom: 0;
  }

  .bigger-kitchen-img img {
    height: 400px;
  }

  .days div {
    height: 80px;
  }
}

/* Extra large devices (large desktops, 1800px and up) */
@media (min-width: 1800px) {
  .title h1 {
    font-size: 60px;
    width: 50%;
  }
}

.img-fluid {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
